@{
    ViewBag.Title = "Home Page";
}

<div style="margin-top: 20px">
    <img src="~/Images/hotel_3.jpg" class="img-responsive" style="width:100%" />
</div>
<div style="margin-top: 20px">
    <img src="~/Images/hotel_4.jpg" class="img-responsive" style="width:100%" />
</div>
<div style="margin-top: 20px">
    <img src="~/Images/hotel_5.jpg" class="img-responsive" style="width:100%" />
</div>
